.clickable-col {
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #66A861;
    margin-left: 20px;
    border-radius: 15px;
    margin: 10px 10px;
    position: relative;
    padding-bottom: 10%; 
    overflow: hidden;
  }
  .show-analysis{
    transition: background-color 0.3s ease;
    background-color: #66A861;
    margin-left: 20px;
    border-radius: 15px;
    margin: 10px 10px;
    position: relative;
    padding-bottom: 5%; 
    overflow: hidden;
    margin-top: 10px;
  }
  
  .clickable-col:hover {
    background-color: rgb(21, 94, 21);
    color: white; 
  }

   .clickable-col .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white; 
  }

  .clickable-col p {
    margin: 0; 
    text-align: center; 
  }

  .blinking {
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% { background-color: red; }
    50% { background-color: green; }
    100% { background-color: red; }
  }
  