body {
  background-color: #000;
  color: #fff;
}

.NavbarBrand {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-left: 70px;
  margin-top: 15px;
}

  
.custom-textarea {
  height: 10px;
  min-height: 60px; 
  max-height: 60px; 
  overflow-y: auto;
  resize: none;
}

.custom-textarea::-webkit-scrollbar {
  width: 8px;
}

.custom-textarea::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.custom-textarea::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 4px;
}

.custom-textarea::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.custom-textarea {
  height: auto;
  max-height: 80px; 
  overflow-y: auto;
}

/* Custom scrollbar styles  */
::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #333; 
}

::-webkit-scrollbar-thumb {
  background: #ffffff; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
