.navbar {
    background-color: #125F12;
    height: 4vw;
    justify-content: start;

  }
  
  .menu-bars {
    /* margin-left: 2rem; */
    font-size: 2rem;
    position: fixed;
    top: 5px; 
    left: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.1s, box-shadow 0.1s;
    bottom: 20px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    margin: 0;
    width: 90px;
    height: 50px;
    padding: 10px;
    z-index: 2000;
    cursor: pointer;
  }

  .nav-menu {
    width: 20vw;
    height: 83vh; 
    position: fixed;
    overflow-y: auto;
    transition: 0s;
    background-color: #125F12;
    display: flex;
    justify-content: center;
    left: -100%;
    transition: 850ms;
    top: 53px;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
    padding: 10px 0 0 0;

  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px 0px 0px 0px;
    list-style: none;
    height: 40px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0px;
  }
  
  .nav-text a:hover {
    background-color: rgb(1, 43, 1);
  }
  
  .nav-menu-items {
    width: 100%;

  }
  
  .navbar-toggle {
    height: 0;
    margin-left: '-20px';
  }

  .hover-box:hover {
    background-color: #5f1616; 
    cursor: pointer;
  }

  /* For larger screens */
@media (min-width: 1024px) {
  .nav-menu {
      width: 20vw;
      height: 100vh; /* Slightly increase height for tablets */
      top: 49.5px;
  }
  .nav-text a {
    font-size: 6px; 
  }

}

/* For tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .nav-menu {
    width: 20vw;
    height: 100vh; 
    top: 40px;
  }
  .nav-text a {
    font-size: 10px;
  }

}

/* For mobile devices */
@media (max-width: 767px) {
  .nav-menu {
    width: 20vw;
    transition: 300ms ease; 
    height: 100vh; 
    top: 30px;
  }
  .nav-text a {
    font-size: 5px;
}

}




