.App {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #66A861;
    background-image: 'url("/banner.jpg")';
    color: black;
}

.NavbarBrand {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-left: 70px;
    margin-top: 15px;
}
  